# Configuration du serveur
PORT=3000

# Configuration MySQL (Optionnelle si vous utilisez le mode démonstration autonome)
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=smurf_iot_village
